.carousel {
  margin: auto;
  height: 100px;
  border-radius: 15px;
  width: 98.5%;
  color: black;
  background-color: rgb(27,28,29);
}

.carousel-item {
  height: 100px;
}

.carousel-caption {
  margin-top: 20px;
}

.overlay-carousel {
  position: relative;
  top: -100px;
  border-radius: 15px;
  width: 98.5%;
  height: 100px;
  background-color: rgb(27,28,29,.6)
}