.carousel {
  margin: 0px 10px 10px 0px;
  height: 100px;
  width: 100%;
  color: black;
  background-color: rgb(27,28,29);
}

.carousel-item {
  height: 100px;
}

.carousel-caption {
  margin-top: 20px;
}

.overlay-carousel {
  position: relative;
  top: -100px;
  width: 100%;
  height: 100px;
  background-color: rgb(27,28,29,.6)
}